root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = false
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true


[*.java]
indent_style = space
insert_final_newline = true


[{*.markdown,*.md}]
indent_style = space

[Makefile]
indent_style = tab